<%= form_for(@invoice, remote: true) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_in_cents %><br>
    <%= f.number_field :total_in_cents %>
  </div>
  <div class="field">
    <%= f.label :total_tax_in_cents %><br>
    <%= f.number_field :total_tax_in_cents %>
  </div>
  <div class="field">
    <%= f.label :subtotal_in_cents %><br>
    <%= f.number_field :subtotal_in_cents %>
  </div>
  <div class="field">
    <%= f.label :tax_rate %><br>
    <%= f.text_field :tax_rate %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
