<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>Total in cents</th>
      <th>Total tax in cents</th>
      <th>Subtotal in cents</th>
      <th>Tax rate</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <%= render invoice %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "First Page", invoices_path(page: 1) %>
<%= link_to "Next Page", invoices_path(page: @page + 1) %>
<%= link_to "Prev Page", invoices_path(page: @page - 1) unless @page == 1%>
<%= link_to "Last Page", invoices_path(page: @num_of_pages) unless @page == @num_of_pages%>


<div class="new-invoice-form-wrapper">

</div>

<%= link_to 'New Invoice', new_invoice_path, remote: true %>
